uvicorn
videosdk>=0.1.0
numpy
httpx
librosa
aiohttp
openai
av
dotenv
pyee==11.1.0
grpcio
protobuf
docstring_parser
google-genai
rx>=3.2.0
smithy-aws-core
pytz
aws_sdk_bedrock_runtime
click>=8.0.0
mcp
