[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[project]
name = "videosdk-agents"
dynamic = ["version"]
description = "Video SDK Agents"
readme = "README.md"
license = "Apache-2.0"
requires-python = ">=3.11"
authors = [{ name = "videosdk" }]
keywords = ["video", "audio", "ai", "agents", "videosdk", "webrtc", "realtime"]
classifiers = [
    "Intended Audience :: Developers",
    "Development Status :: 4 - Beta",
    "Intended Audience :: Developers",
    "Topic :: Communications :: Conferencing",
    "Topic :: Multimedia :: Sound/Audio",
    "Topic :: Multimedia :: Video",
    "Topic :: Scientific/Engineering :: Artificial Intelligence",
]
dependencies = [
    "uvicorn",
    "videosdk>=0.2.9",
    "numpy",
    "httpx",
    "aiohttp",
    "openai",
    "python-dotenv",
    "pyee>=13.0.0",
    "grpcio",
    "protobuf",
    "docstring_parser",
    "google-genai",
    "pydantic>=2.0,<3",
    "requests>=2.25.0",
    "rich>=10.0.0",
    "click>=8.0.0",
    "scipy>=1.11.0",
    "mcp",
    "PyYAML",
    "urllib3",
    "opentelemetry-sdk>=1.34.1",
    "opentelemetry-exporter-otlp-proto-http>=1.34.1",
    "requests",
    "protobuf>=5.29,<6.0",
    "aec-audio-processing>=1.0.1",
    "sounddevice",
]


[project.scripts]
videosdk = "videosdk.agents.cli:main"

[project.optional-dependencies]
anthropic = ["videosdk-plugins-anthropic>=0.0.61"]
assemblyai = ["videosdk-plugins-assemblyai>=0.0.61"]
aws = ["videosdk-plugins-aws>=0.0.61"]
azure = ["videosdk-plugins-azure>=0.0.61"]
cartesia = ["videosdk-plugins-cartesia>=0.0.61"]
cerebras = ["videosdk-plugins-cerebras>=0.0.61"]
cometapi = ["videosdk-plugins-cometapi>=0.0.61"]
deepgram = ["videosdk-plugins-deepgram>=0.0.61"]
elevenlabs = ["videosdk-plugins-elevenlabs>=0.0.61"]
google = ["videosdk-plugins-google>=0.0.61"]
groq = ["videosdk-plugins-groq>=0.0.61"]
gladia = ["videosdk-plugins-gladia>=0.0.61"]
humeai = ["videosdk-plugins-humeai>=0.0.61"]
inworldai = ["videosdk-plugins-inworldai>=0.0.61"]
lmnt = ["videosdk-plugins-lmnt>=0.0.61"]
murfai = ["videosdk-plugins-murfai>=0.0.61"]
navana = ["videosdk-plugins-navana>=0.0.61"]
neuphonic = ["videosdk-plugins-neuphonic>=0.0.61"]
nvidia = ["videosdk-plugins-nvidia>=0.0.61"]
openai = ["videosdk-plugins-openai>=0.0.61"]
papla = ["videosdk-plugins-papla>=0.0.61"]
resemble = ["videosdk-plugins-resemble>=0.0.61"]
rime = ["videosdk-plugins-rime>=0.0.61"]
rnnoise = ["videosdk-plugins-rnnoise>=0.0.61"]
sarvamai = ["videosdk-plugins-sarvamai>=0.0.61"]
silero = ["videosdk-plugins-silero>=0.0.61"]
simli = ["videosdk-plugins-simli>=0.0.61"]
smallestai = ["videosdk-plugins-smallestai>=0.0.61"]
speechify = ["videosdk-plugins-speechify>=0.0.61"]
turn-detector = ["videosdk-plugins-turn-detector>=0.0.61"]
ultravox = ["videosdk-plugins-ultravox>=0.0.61"]
xai = ["videosdk-plugins-xai>=0.0.61"]
videosdk-conversational-graph = ["videosdk-conversational-graph>=0.0.1"]

[tool.hatch.version]
path = "videosdk/agents/version.py"

[tool.hatch.build.targets.wheel]
packages = ["videosdk"]
include = ["videosdk/agents/resources/*"]

[tool.hatch.build.targets.sdist]
include = ["/videosdk"]

[tool.hatch.metadata]
allow-direct-references = true
