[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[project]
name = "videosdk-agents"
dynamic = ["version"]
description = "Video SDK Agents"
readme = "README.md"
license = "Apache-2.0"
requires-python = ">=3.11"
authors = [{ name = "videosdk" }]
keywords = ["video", "audio", "ai", "agents", "videosdk", "webrtc", "realtime"]
classifiers = [
    "Intended Audience :: Developers",
    "Development Status :: 4 - Beta",
    "Intended Audience :: Developers",
    "Topic :: Communications :: Conferencing",
    "Topic :: Multimedia :: Sound/Audio",
    "Topic :: Multimedia :: Video",
    "Topic :: Scientific/Engineering :: Artificial Intelligence",
]
dependencies = [
    "uvicorn",
    "videosdk>=0.1.0",
    "numpy",
    "httpx",
    "aiohttp",
    "openai",
    "av",
    "python-dotenv",
    "pyee==11.1.0",
    "grpcio",
    "protobuf",
    "docstring_parser",
    "google-genai",
    "pydantic>=2.0,<3",
    "requests>=2.25.0",
    "rich>=10.0.0",
    "click>=8.0.0",
    "scipy>=1.11.0",
    "mcp",
    "PyYAML",
    "urllib3",
]


[project.scripts]
videosdk = "videosdk.agents.cli:main"

[project.optional-dependencies]
openai = ["videosdk-plugins-openai>=0.0.20"]
google = ["videosdk-plugins-google>=0.0.20"]  
aws = ["videosdk-plugins-aws>=0.0.20"] 
deepgram = ["videosdk-plugins-deepgram>=0.0.20"] 
elevenlabs = ["videosdk-plugins-elevenlabs>=0.0.20"] 
silero = ["videosdk-plugins-silero>=0.0.20"]
turn-detector = ["videosdk-plugins-turn-detector>=0.0.20"]
sarvamai = ["videosdk-plugins-sarvamai>=0.0.20"] 
cartesia = ["videosdk-plugins-cartesia>=0.0.20"] 
resemble = ["videosdk-plugins-resemble>=0.0.20"] 
smallestai = ["videosdk-plugins-smallestai>=0.0.20"]
simli = ["videosdk-plugins-simli>=0.0.20"]
anthropic = ["videosdk-plugins-anthropic>=0.0.20"] 
cerebras = ["videosdk-plugins-cerebras>=0.0.20"] 
groq = ["videosdk-plugins-groq>=0.0.20"] 
humeai = ["videosdk-plugins-humeai>=0.0.20"] 
inworldai = ["videosdk-plugins-inworldai>=0.0.20"]  
lmnt = ["videosdk-plugins-lmnt>=0.0.20"]
neuphonic = ["videosdk-plugins-neuphonic>=0.0.20"] 
rime = ["videosdk-plugins-rime>=0.0.20"]
speechify = ["videosdk-plugins-speechify>=0.0.20"]
sip = ["videosdk-plugins-sip>=0.0.20"]



[tool.hatch.version]
path = "videosdk/agents/version.py"

[tool.hatch.build.targets.wheel]
packages = ["videosdk"]
include = ["videosdk/agents/resources/*"]

[tool.hatch.build.targets.sdist]
include = ["/videosdk"]

[tool.hatch.metadata]
allow-direct-references = true
