[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[project]
name = "videosdk-agents"
dynamic = ["version"]
description = "Video SDK Agents"
readme = "README.md"
license = "Apache-2.0"
requires-python = ">=3.11"
authors = [{ name = "videosdk" }]
keywords = ["video", "audio", "ai", "agents", "videosdk", "webrtc", "realtime"]
classifiers = [
    "Intended Audience :: Developers",
    "Development Status :: 4 - Beta",
    "Intended Audience :: Developers",
    "Topic :: Communications :: Conferencing",
    "Topic :: Multimedia :: Sound/Audio",
    "Topic :: Multimedia :: Video",
    "Topic :: Scientific/Engineering :: Artificial Intelligence",
]
dependencies = [
    "uvicorn",
    "videosdk>=0.2.9",
    "numpy",
    "httpx",
    "aiohttp",
    "openai",
    "python-dotenv",
    "pyee>=13.0.0",
    "grpcio",
    "protobuf",
    "docstring_parser",
    "google-genai",
    "pydantic>=2.0,<3",
    "requests>=2.25.0",
    "rich>=10.0.0",
    "click>=8.0.0",
    "scipy>=1.11.0",
    "mcp",
    "PyYAML",
    "urllib3",
    "opentelemetry-sdk>=1.34.1",
    "opentelemetry-exporter-otlp-proto-http>=1.34.1",
    "requests",
    "protobuf>=5.29,<6.0",
    "aec-audio-processing>=1.0.1",
    "sounddevice",
]


[project.scripts]
videosdk = "videosdk.agents.cli:main"

[project.optional-dependencies]
anam = ["videosdk-plugins-anam>=1.0.0.dev"]
anthropic = ["videosdk-plugins-anthropic>=1.0.0.dev"]
assemblyai = ["videosdk-plugins-assemblyai>=1.0.0.dev"]
aws = ["videosdk-plugins-aws>=1.0.0.dev"]
azure = ["videosdk-plugins-azure>=1.0.0.dev"]
cartesia = ["videosdk-plugins-cartesia>=1.0.0.dev"]
cambai = ["videosdk-plugins-cambai>=1.0.0.dev"]
cerebras = ["videosdk-plugins-cerebras>=1.0.0.dev"]
cometapi = ["videosdk-plugins-cometapi>=1.0.0.dev"]
deepgram = ["videosdk-plugins-deepgram>=1.0.0.dev"]
elevenlabs = ["videosdk-plugins-elevenlabs>=1.0.0.dev"]
google = ["videosdk-plugins-google>=1.0.0.dev"]
groq = ["videosdk-plugins-groq>=1.0.0.dev"]
gladia = ["videosdk-plugins-gladia>=1.0.0.dev"]
humeai = ["videosdk-plugins-humeai>=1.0.0.dev"]
inworldai = ["videosdk-plugins-inworldai>=1.0.0.dev"]
lmnt = ["videosdk-plugins-lmnt>=1.0.0.dev"]
murfai = ["videosdk-plugins-murfai>=1.0.0.dev"]
navana = ["videosdk-plugins-navana>=1.0.0.dev"]
neuphonic = ["videosdk-plugins-neuphonic>=1.0.0.dev"]
nvidia = ["videosdk-plugins-nvidia>=1.0.0.dev"]
openai = ["videosdk-plugins-openai>=1.0.0.dev"]
papla = ["videosdk-plugins-papla>=1.0.0.dev"]
resemble = ["videosdk-plugins-resemble>=1.0.0.dev"]
rime = ["videosdk-plugins-rime>=1.0.0.dev"]
rnnoise = ["videosdk-plugins-rnnoise>=1.0.0.dev"]
sarvamai = ["videosdk-plugins-sarvamai>=1.0.0.dev"]
silero = ["videosdk-plugins-silero>=1.0.0.dev"]
simli = ["videosdk-plugins-simli>=1.0.0.dev"]
smallestai = ["videosdk-plugins-smallestai>=1.0.0.dev"]
speechify = ["videosdk-plugins-speechify>=1.0.0.dev"]
turn-detector = ["videosdk-plugins-turn-detector>=1.0.0.dev"]
ultravox = ["videosdk-plugins-ultravox>=1.0.0.dev"]
xai = ["videosdk-plugins-xai>=1.0.0.dev"]
videosdk-conversational-graph = ["videosdk-conversational-graph>=0.0.1"]

[tool.hatch.version]
path = "videosdk/agents/version.py"

[tool.hatch.build.targets.wheel]
packages = ["videosdk"]
include = ["videosdk/agents/resources/*"]

[tool.hatch.build.targets.sdist]
include = ["/videosdk"]

[tool.hatch.metadata]
allow-direct-references = true
