[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[project]
name = "videosdk-agents"
dynamic = ["version"]
description = "Video SDK Agents"
readme = "README.md"
requires-python = ">=3.11"
authors = [{ name = "videosdk" }]
keywords = ["video", "audio", "ai", "agents", "videosdk", "webrtc", "realtime"]
classifiers = [
    "Intended Audience :: Developers",
    "Development Status :: 4 - Beta",
    "Intended Audience :: Developers",
    "Topic :: Communications :: Conferencing",
    "Topic :: Multimedia :: Sound/Audio",
    "Topic :: Multimedia :: Video",
    "Topic :: Scientific/Engineering :: Artificial Intelligence",
]
dependencies = [
    "uvicorn",
    "videosdk>=0.1.0",
    "numpy",
    "httpx",
    "librosa",
    "aiohttp",
    "openai",
    "av",
    "python-dotenv",
    "pyee==11.1.0",
    "grpcio",
    "protobuf",
    "docstring_parser",
    "google-genai",
    "pydantic>=2.0,<3",
    "requests>=2.25.0",
    "rich>=10.0.0",
    "click>=8.0.0",
    "scipy>=1.11.0",
    "mcp",
    "PyYAML",
    "urllib3",
]


[project.scripts]
videosdk = "videosdk.agents.cli:main"

[project.optional-dependencies]
openai = ["videosdk-plugins-openai>=0.0.9"]
google = ["videosdk-plugins-google>=0.0.7"]
aws = ["videosdk-plugins-aws>=0.0.6"]
deepgram = ["videosdk-plugins-deepgram>=0.0.4"]
elevenlabs = ["videosdk-plugins-elevenlabs>=0.0.3"]
silero = ["videosdk-plugins-silero>=0.0.3"]
turn-detector = ["videosdk-plugins-turn-detector>=0.0.4"]
sarvamai = ["videosdk-plugins-sarvamai>=0.0.2"]


[tool.hatch.version]
path = "videosdk/agents/version.py"

[tool.hatch.build.targets.wheel]
packages = ["videosdk"]
include = ["videosdk/agents/resources/*"]

[tool.hatch.build.targets.sdist]
include = ["/videosdk"]

[tool.hatch.metadata]
allow-direct-references = true
